.reset {
  width: 150px;
  height: 30px;
  margin: 0 auto;
  margin-top: 30px;
  border: 1px dashed black;

  @extend %flexcenter;
  @include animation('slide 3s 0');

  &:hover {
    cursor: pointer;
  }
}
