@import "vendor/vendor";
@import "body";
@import "blocks/board/board";
@import "blocks/circle/circle";
@import "blocks/square/square";
@import "blocks/modal/modal";
@import "blocks/game-start/game-start";
@import "blocks/information/information";
@import "blocks/win-info/win-info";
@import "blocks/reset/reset";
@import "blocks/draw-info/draw-info";
@import "blocks/points-info/points-info";


 
